.aboutBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 80px;
  background-image: url('../images/about_banner_bg.png');
  background-size: cover;
  background-position: center;
}

.aboutTitle {
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
  border-bottom: white 1px solid;
  color: white;
  h1 {
    font-size: 32px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 44px;
  }
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 0;
  width: 100%;
  max-width: 1200px;
  color: white;
  .detail {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    p {
      font-size: 14px;
      line-height: 24px;
    }
    .pic_text {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 48px;
      img {
        width: calc(50% - 24px);
      }
      .textList {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .text {
        width: calc(50% - 24px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
      }
    }
  }
}

.aboutFeature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
  color: #1a818a;
  .head {
    font-size: 24px;
    line-height: 40px;
  }
  .detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    p {
      font-size: 14px;
      line-height: 24px;
    }
    .cardList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        width: calc(100%/3 - 12px);;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-image: url('../images/about_feature_card.png');
        background-size: cover;
        background-position: center;
        padding: 24px;
        border-radius: 8px;
        color: white;
        .title {
          width: 100%;
          height: 100px;
          margin: 24px 0;
          position: relative;
          text-align: center;
          span {
            &:first-child{
              font-size: 100px;
              line-height: 100px;
              opacity: .25;
              font-style: italic;
              padding-right: 16px;
            }
            &:nth-child(2){
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              text-align: center;
              font-size: 12px;
              line-height: 20px;
              transform: translate(0, -10px);
              color: #f5edaf;
            }
          }
        }
        p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
}

.aboutFaith {
  width: 100%;
  height: 1200vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/about_faith_bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    overflow: hidden;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
      width: 100%;
      max-width: 1366px;
    }
    .head {
      h1 {
        font-size: 100px;
        line-height: 72px;
        background-image: url('../images/about_faith_text_bg.jpg');
        background-size: cover;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        span {
          font-size: 40px;
          line-height: 40px;
          margin-left: 240px;
        }
      }
    }
    .detail {
      max-width: 500px;
      p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #1a818a;
      }
    }

    .cardArea {
      position: absolute;
      top: calc( 100vh - 120px );
      display: flex;
      flex-direction: column;
      justify-content: center;  
      align-items: center;
      gap: 24px;
      width: 100%;
      max-width: 1366px;
      &.active {
        top: 200px;
      }
      &__card {
        position: absolute;
        width: 320px;
        transform: translateY(50vh);
        opacity: 0;
        &.active {
          transform: translateY(0);
          opacity: 1;
        } 
        &:first-child {
          display: block;
          top: 0;
        }
        &:nth-child(2) {
          top: 80px;
        }
        &:nth-child(3) {
          top: 160px;
        }
        &:nth-child(4) {
          top: 240px;
        }
        &:nth-child(5) {
          top: 320px;
        }
        img {
          width: 100%;
        }
        .text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 16px;
          padding: 16px 16px 32px 16px;
          font-size: 32px;
          color: #1a818a;
          .tag {
            font-size: 18px;
            width: 72px;
            text-align: center;
          }
          .title {
            width: 100%;
            font-size: 32px;
            text-align: center;
          }
          p {
            font-size: 12px;
            line-height: 24px;
            padding: 0 24px;
            text-align: center;
          }
        }
      }
    }

    .image {
      position: absolute;
      top: calc( 50%  - 40vh );
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 100%;
      height: 80vh;
      transform: translateY(50vh);
      opacity: 0;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.aboutMileStone {
  width: 100%;
  height: 1000vh;
  background-image: url('../images/about_mileStone_bg.png');
  background-size: 100% 100%;
  background-position: center;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    overflow: hidden;
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0 80px;
      max-width: 1366px;
    }
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border-top: white 1px solid;
    overflow: hidden;
    .text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .title {
        font-size: 24px;
        color: #f5edaf;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: white;
      }
    }
    .yearArea {
      padding: 48px 48px 0;
      height: 200px;
      .year {
        font-size: 100px;
        height: 100px;
        line-height: 100px;
        color: white;
        opacity: .5;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .mileStoneArea {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: white 1px solid;
    .mileStoneList {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-bottom: 80px;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
    .mileStone {
      width: 100%;
      height: 100%;
      max-height: 320px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 48px 0;
      border-bottom: white 1px solid;
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .name {
        color: white;
        font-size: 18px;
        line-height: 28px;
      }
      img {
        height: 40px;
      }
    }
    .detail {
      color: white;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.aboutBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 120px 80px;
  background-image: url('../images/about_base_bg.png');
  background-size: 100% 100%;
  background-position: center;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  .head {
    font-size: 24px;
    line-height: 40px;
    color: #f5edaf;
    white-space: nowrap;
  }
  .cardArea {
    display: flex;
    flex-direction: row;
    .card {
      position: relative;
      width: 480px;
      &:last-child {
        margin-left: -48px;
      }
      img {
        width: 100%;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        padding: 48px 48px 120px;
        .cardDetail {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .number {
            font-size: 12px;
          }
          .title {
            font-size: 24px;
            line-height: 24px;
            color: #46ac82;
          }
          .detail {
            font-size: 14px;
            line-height: 24px;
          }
          .featureList {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 16px 0 0;
              border-top: #000 1px solid;
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.aboutMission {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%;
  padding: 120px 80px;
  background-image: url('../images/about_mission_bg.png');
  background-size: 100% 100%;
  background-position: center;
  .head {
    font-size: 24px;
    color: #f5edaf;
  }
  .skillTree {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      width: 1px;
      background-color: white;
      margin-top: -60px;
      li {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 48px 120px 48px;
        color: white;
        &:nth-child(n + 1) {
          align-items: flex-end;
          align-self: flex-end;
          width: 50vw;
        }
        &:nth-child(2n + 1) {
          align-items: flex-start;
          align-self: flex-start;
          width: 50vw;
        }
        .title {
          font-size: 18px;
        }
        p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
    .logo {
      position: sticky;
      top: 240px;
      width: 64px;
    }
  }

  .end {
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 767px) {
  .aboutBanner {
    padding: 80px 24px;
  }

  .aboutTitle {
    padding: 24px 0;
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
    h2 {
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
    }
  }

  .aboutSection {
    flex-direction: column;
    padding: 24px 0;
    gap: 24px;
    .detail {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      p {
        font-size: 12px;
        line-height: 20px;
      }
      .pic_text {
        gap: 24px;
        img {
          width: calc(50% - 12px);
        }
        .text {
          width: calc(50% - 12px);
        }
      }
    }
  }

  .aboutFeature {
    flex-direction: column;
    padding: 42px 0;
    .head {
      font-size: 20px;
      line-height: 36px;
    }
    .detail {
      width: 100%;
      p {
        font-size: 12px;
        line-height: 20px;
      }
      .cardList {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }
  }

  .aboutFaith {
    height: auto;
    &__stickyArea {
      position: static;
      height: auto;
      padding: 80px 0;
      overflow: hidden;
      .wrapper {
        padding: 0 24px;
      }
      .head {
        h1 {
          font-size: 48px;
          line-height: 48px;
          span {
            font-size: 24px;
            line-height: 30px;
            margin-left: 0;
          }
        }
      }
      .detail {
        max-width: 100%;
        p {
          font-size: 12px;
          line-height: 20px;
        }
      }

      .cardArea {
        position: static;
        &__card {
          position: static;
          width: 100%;
          .text {
            .tag {
              font-size: 16px;
            }
            .title {
              font-size: 24px;
            }
          }
        }
      }

      .image {
        position: static;
        height: auto;
      }
    }
  }

  .aboutMileStone {
    &__stickyArea {
      padding-top: 80px;
      .wrapper {
        padding: 0 24px;
      }
    }
    .head {
      .text {
        gap: 8px;
        .title {
          font-size: 16px;
        }
        p {
          font-size: 12px;
          line-height: 20px;
          br {
            display: none;
          }
        }
      }
      .yearArea {
        padding: 48px 24px 0;
        .year {
          font-size: 48px;
          height: 100px;
          line-height: 100px;
        }
      }
    }
    .mileStoneArea {
      .mileStone {
        width: 100%;
        height: 100%;
        max-height: 240px;
        flex-direction: column;
        padding: 24px 0;
      }
      .title {
        display: flex;
        flex-direction: row;
        .name {
          font-size: 14px;
          line-height: 24px;
        }
        img {
          width: 200px;
          height: auto;
        }
      }
      .detail {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .aboutBase {
    padding: 40px 24px;
    .wrapper {
      flex-direction: column;
      gap: 24px;
    }
    .cardArea {
      flex-direction: column;
      .card {
        width: 100%;
        &:last-child {
          margin-left: 0;
        }
        img {
          width: 100%;
        }
        .text {
          padding: 32px 24px 72px;
          .cardDetail {
            .number {
              font-size: 12px;
            }
            .title {
              font-size: 16px;
            }
            .detail {
              font-size: 12px;
              line-height: 20px;
            }
            .featureList {
              gap: 8px;
              li {
                font-size: 12px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .aboutMission {
    gap: 40px;
    padding: 40px 24px;
    .skillTree {
      width: 100%;
      align-items: flex-start;
      padding-left: 20px;
      ul {
        margin-top: -32px;
        gap: 24px;
        li {
          width: calc( 100vw - 76px ) !important;
          padding: 0 0 40px 32px;
          gap: 8px;
          &:nth-child(n + 1) {
            align-items: flex-start;
            align-self: flex-start;
          }
          .title {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
      .logo {
        width: 40px;
        left: -20px;
        margin-left: -20px;
      }
    }

    .end {
      font-size: 14px;
      line-height: 28px;
      margin: 0;;
      br {
        display: none;
      }
    }
  }
  
}