body {
  min-width: 1200px;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #EDEDEE;
}

* {
  box-sizing: border-box;
  transition: all 0.4s ease;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 1136px;
  padding: 24px 24px 48px;
  margin-bottom: -120px;
  z-index: 999;

  > img {
    height: 48px;
    cursor: pointer;
    transition: opacity 0.4s ease;
  }

  .logo--light,
  .logo--dark {
    position: absolute;
    left: 24px;
    top: 24px;
  }

  &.light {
    .logo--light {
      opacity: 1;
    }
    .logo--dark {
      opacity: 0;
    }
    .mainNav {
      background-color: rgba(255,255,255,.95);
    }
  }

  &.dark {
    .logo--light {
      opacity: 0;
    }
    .logo--dark {
      opacity: 1;
    }
    .mainNav {
      background-color: #f1f1f1;
    }
  }

  &.light__dark {
    .logo--light {
      opacity: 1;
    }
    .logo--dark {
      opacity: 0;
    }
    .mainNav {
      background-color: #f1f1f1;
    }
  }

  .openMenu {
    display: none;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    gap: 36px;
    padding: 0 40px;
    border-radius: 32px;
    background-color: rgba(255,255,255,.95);
    > li {
      position: relative;
      > .head {
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        cursor: pointer;
      }
      > ul {
        display: none;
        position: absolute;
        top: 40px;
        left: -40px;
      }
      &:hover {
        > ul {
          display: block;
          padding-top: 12px;
          width: 200px;
          li {
            display: flex;
            flex-direction: column;
            background-color: rgba(255,255,255,.85);
            padding: 12px 24px;
            &:first-child {
              padding-top: 24px;
              border-top-left-radius: 24px;
              border-top-right-radius: 24px;
            }
            &:last-child {
              padding-bottom: 24px;
              border-bottom-left-radius: 24px;
              border-bottom-right-radius: 24px;
            }
            > .head {
              display: flex;
              flex-direction: column;
              gap: 4px;
              cursor: pointer;
              .ch {
                font-size: 14px;
              }
              .en {
                font-size: 12px;
                color: #408887;
              }
            }
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  padding: 48px;
  .firstPart {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    > img {
      height: 32px;
    }
    .copyright {
      color: #808080;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .secondPart {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .title, .mail, .mail a {
        font-size: 14px;
        color: #1A818A;
      }
      .title {
        font-weight: 500;
      }
    }
    .link {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        font-size: 14px;
        color: #1A818A;
      }
    }
  }
  .thirdPart {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
    .contact {
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 14px;
        color: #1A818A;
        .title {
          font-weight: 500;
        }
        .detail {
          line-height: 20px;
        }
      }
    }
    .subNav {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        font-size: 14px;
        color: #1A818A;
      }
    }
  }
  .lastPart {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    img {
      width: 48px;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    min-width: 0;
    .header {
      min-width: 0;
      padding: 16px;
      height: 56px;
      margin-bottom: -56px;
      z-index: 999;

      > img {
        top: 16px !important;
        left: 16px !important;
        height: 24px;
      }

      .openMenu {
        display: flex;
        flex-direction: column;
        gap: 4px;
        span {
          width: 20px;
          height: 2px;
          border-radius: 2px;
          background-color: white;
        }
      }

      .mainNav {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        height: 0;
        padding: 0 48px;
        border-radius: 0 0 24px 24px;
        opacity: 0;
        overflow: hidden;
        li > ul {
          display: flex;
          position: static;
          top: 40px;
          left: -40px;
          flex-direction: column;
          li {
            background: transparent;
            padding: 12px 24px;
            &:first-child, &:last-child {
              padding: 12px 24px;
            }
            > .head {
              .ch {
                font-size: 12px;
              }
              .en {
                font-size: 12px;
                color: #408887;
              }
            }
          }
        }
        &.open {
          height: auto;
          padding: 48px;
          opacity: 1;
        }
      }
    }

    .footer {
      flex-direction: column;
      width: 100%;
      gap: 24px;
      padding: 32px 24px;
      .firstPart {
        gap: 24px;
        > img {
          height: 24px;
        }
      }
      .secondPart {
        gap: 24px;
        padding-bottom: 0;
        .info {
          .title, .mail, .mail a {
            font-size: 12px;
          }
        }
        .link {
          li {
            font-size: 12px;
          }
        }
      }
      .thirdPart {
        gap: 24px;
        padding-bottom: 0;
        .contact {
          li {
            font-size: 12px;
          }
        }
        .subNav {
          li {
            font-size: 12px;
          }
        }
      }
      .lastPart {
        justify-content: flex-start;
        img {
          width: 32px;
        }
      }
    }
  }
}