.contactContent {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 160px 0;
  background-image: url('../images/contact_bg.jpg');
  background-size: cover;
  background-position: center;
  > .head {
    padding-left: 80px;
    color: #1a818a;
    white-space: nowrap;
    h2 {
      display: flex;
      flex-direction: row;
      gap: 16px;
      span {
        font-size: 32px;
        &.italic {
          font-style: italic;
        }
      }
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    .section {
      display: flex;
      flex-direction: column;
      gap: 48px;
      .title {
        display: flex;
        flex-direction: row;
        height: 34px;
        h3 {
          position: relative;
          height: 68px;
          color: #1a818a;
          font-size: 18px;
          line-height: 44px;
          padding: 0 16px;
          margin: 0 33px 0 13px;
          white-space: nowrap;
          background-image: url('../images/contact_title_bg_2.png');
          background-size: 100% auto;
          background-repeat: no-repeat;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -13px;
            width: 13px;
            height: 34px;
            background-image: url('../images/contact_title_bg_1.png');
            background-size: cover;
          background-repeat: no-repeat;
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -33px;
            width: 33px;
            height: 34px;
            background-image: url('../images/contact_title_bg_3.png');
            background-size: cover;
          background-repeat: no-repeat;
          }
        }
        &:after {
          content: '';
          width: 100%;
          height: 34px;
          background-image: url('../images/contact_title_bg_4.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .questions {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .question {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          padding-left: 40px;
          .head {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            color: #1a818a;
            .number {
              width: 40px;
            }
            .text {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 8px;
              &.required::before {
                content: '*';
                position: absolute;
                top: 4px;
                left: -14px;
                color: red;
                font-size: 12px;
                margin-left: 4px;
              }
              .upload {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                color: white;
                background-color: #1a818a;
                padding: 8px 12px;
                border-radius: 24px;
                cursor: pointer;
                img {
                  width: 16px;
                }
              }
            }
          }
          .inputArea {
            display: flex;
            flex-direction: row;
            gap: 8px;
            padding-left: 40px;
            width: 100%;
            input {
              width: 500px;
              padding: 8px;
              border: 0;
              border-bottom: 1px solid #1a818a;
              outline: none;
              background-color: transparent;
            }
            textarea {
              padding: 8px;
              border: 0;
              border-bottom: 1px solid #1a818a;
            }
            .checkboxGroup {
              display: flex;
              flex-direction: column;
              gap: 16px;
              .checkboxItem {
                display: flex;
                flex-direction: row;
                gap: 8px;
                input[type=checkbox] {
                  display: none;
                }
                input[type=text] {
                  padding: 0;
                  font-size: 12px;
                }
                label {
                  position: relative;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 16px;
                  height: 20px;
                  font-size: 12px;
                  color: #1a818a;
                  cursor: pointer;
                  &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 12px;
                  }
                  &:after {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: -3px;
                    width: 16px;
                    height: 16px;
                    border-radius: 14px;
                    border: 1px solid #1a818a;
                  }
                }
                input[type=checkbox]:checked + label::before {
                  background-color: #1a818a;
                }
              }
            }
          }
        }
      }
    }
  }
}

.contactButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 160px;
  padding: 8px 8px 8px 24px;
  border-radius: 48px;
  background-color: #1a818a;
  cursor: pointer;
  .text {
    font-size: 16px;
    line-height: 16px;
    color: white;
  }
  img {
    width: 36px;
  }
}

@media screen and (max-width: 767px) {
  .contactContent {
    flex-direction: column;
    gap: 48px;
    padding: 80px 24px;
    > .head {
      padding-left: 0px;
      h2 {
        span {
          font-size: 24px;
        }
      }
    }
    .table {
      gap: 24px;
      .section {
        gap: 24px;
        .title {
          h3 {
            font-size: 14px;
          }
        }
        .questions {
          display: flex;
          flex-direction: column;
          gap: 32px;
          .question {
            padding-left: 16px;
            .head {
              font-size: 12px;
              .text {
                flex-direction: column;
                align-items: flex-start;
                &.required::before {
                  top: 1.5px;
                }
              }
            }
            .inputArea {
              flex-direction: column;
              padding-left: 24px;
              input {
                width: 100%;
              }
              .checkboxGroup {
                .checkboxItem {
                  input[type=text] {
                    width: 100px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .contactButton {
    margin: calc( 50% - 100px );
    .text {
      font-size: 12px;
      line-height: 14px;
    }
  }
}