.indexBanner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  background-image: url('../images/index_banner_bg.png');
  background-size: cover;
  background-position: center;
  h1 {
    font-size: 80px;
    line-height: 50px;
    color: white;
    background-image: url(../images/index_banner_text_bg.jpg);
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    background-clip: text;
    span {
      font-size: 32px;
      padding-left: 160px;
    }
  }
}

.indexAbout {
  position: relative;
  width: 100%;
  height: 800vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/index_about_bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .head {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: calc( ( 100vw - 1200px ) / 2 );
      h2 {
        font-size: 32px;
        color: white;
      }
    }
  }
  &__content {
    position: relative;
    width: 50%;
    height: calc( 100vh - 240px );
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__item {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      opacity: 0;
      .text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-size: 16px;
        line-height: 28px;
        color: white;
        padding: 0 calc( ( 100vw - 1200px ) / 2 ) 0 0;
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 24px;
          li {
            width: calc( 50% - 12px );
            .head {
              color: #46ac82;
              font-size: 24px;
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
      .image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200%;
        img {
          width: 100%;
        }
        .number {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 4px;
          padding: 48px 0 0 calc( ( 100vw - 1200px ) / 2 );
          font-size: 14px;
          line-height: 14px;
          color: #46ac82;
          .current {
            width: 28px;
            font-size: 24px;
            line-height: 18px;
          }

        }
      }
      &.active {
        opacity: 1;
      }
    }
  }
}

.indexSupply {
  position: relative;
  width: 100%;
  height: 1000vh;
  background-image: url('../images/index_supply_bg.png');
  background-size: cover;
  background-position: center;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 120px 80px 0;
    .wrapper {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .head {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h2 {
        font-size: 32px;
        color: #46AC82;
        &.italic {
          font-style: italic;
          padding-left: 24px;
        }
      }
    }
    .button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 8px 8px 24px;
      width: 240px;
      border-radius: 48px;
      background-color: #1a818a;
      .text {
        font-size: 16px;
        line-height: 16px;
        color: white;
      }
      img {
        width: 36px;
      }
    }
  }
  &__cardArea {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__card {
      width: 100%;
      display: flex;
      top: 120px;
      right: 0;
      transform: translateY(50vh);
      opacity: 0;
      &.active {
        transform: translateY(0);
        opacity: 1;
      }
      > img {
        width: 100%;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 36px 36px;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 28px;
        .head {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .detail {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 12px;
          line-height: 20px;
          align-items: flex-end;
          ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: calc( 100% - 240px );
            li {
              display: flex;
              flex-direction: column;
              gap: 8px;
              padding-right: 20px;
              border-right: #b2b2b2 1px solid;
              h3 {
                font-size: 16px;
              }
              &:last-child {
                padding-right: 0;
                border-right: none;
              }
            }
          }
          img {
            width: 140px;
            height: 140px;
            object-fit: contain;
            object-position: center;
            padding: 16px;
            border-radius: 24px;
            overflow: hidden;
            background-color: white;
          }
        }
      }
      &:first-child {
        margin-bottom: 260px;
        .text {
          color: white;
        }
      }
      &:nth-child(2) {
        position: absolute;
        top: 65px;
      }
      &:nth-child(3) {
        position: absolute;
        top: 130px;
      }
      &:nth-child(4) {
        position: absolute;
        top: 195px;
        .text {
          color: white;
        }
      }
      &:nth-child(5) {
        position: absolute;
        top: 260px;
      }
    }
  }
}

.indexPartner {
  width: 100%;
  height: 800vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/index_partner_bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-left: calc( 50% - 600px );
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    width: 200px;
    .head {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h2 {
        font-size: 32px;
        color: #46AC82;
        &:nth-child(2) {
          padding-left: 24px;
        }
      }
    }
  }
  &__scrollArea {
    position: relative;
    width: calc( 100% - 280px );
    overflow: hidden;
  }
  &__cardArea {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-bottom: 48px;
    &:after {
      content: '';
      flex: 0 0 1px;
    }
    &__card {
      position: relative;
      > img {  
        width: 420px;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        .logos {
          display: flex;
          flex-direction: row;
          gap: 16px;
          img {
            height: 24px;
          }
        }
        .title {
          font-size: 16px;
          color: #1a818a;
        }
        .imgList {
          display: flex;
          flex-direction: row;
          gap: 8px;
          img {
            width: 100px;
          }
        }
        .detail {
          font-size: 12px;
          line-height: 20px;
          color: #666666;
        }
      }
    }
  }
}

.indexBrand {
  position: relative;
  height: 400vh;
  background-color: white;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 120px;
    .wrapper {
      width: 100%;
      max-width: 1366px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .head {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h2 {
        font-size: 32px;
        color: #46AC82;
        &:nth-child(2) {
          padding-left: 24px;
        }
      }
    }
  }
  &__cardArea {
    position: relative;
    width: 100%;
    height: 480px;
    &__card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 80px;
      padding: 80px;
      opacity: 0;
      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        > img {
          width: 320px;
        }
        .slogan {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-top: 24px;
          line-height: 24px;
          border-top: #cbcbcb 1px solid;
          .head {
            width: 240px;
            color: #666666;
          }
          .linkList {
            display: flex;
            flex-direction: row;
            gap: 8px;
            li img {
              width: 24px;
            }
          }
        }
      }
      .image {
        display: flex;
        height: 320px;
        img {
          height: 320px;
          border-radius: 24px;
          overflow: hidden;
        }
      }
      &.active {
        opacity: 1;
      }
    }
  }
}

.indexStore {
  position: relative;
  width: 100%;
  height: 300vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 50%;
    padding: 80px;
    background-image: url('../images/index_store_bg.png');
    background-size: cover;
    background-position: center;
    .head {
      font-size: 16px;
      color: white;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-bottom: 24px;
      border-bottom: #fff 1px solid;
      li {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding-top: 24px;
        border-top: #fff 1px solid;
        img {
          width: calc( 50% - 12px );
        }
        .detail {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: calc( 50% - 12px );
          color: white;
          h3 {
            font-size: 16px;
            margin-bottom: 16px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
  &__map {
    position: relative;
    width: 50%;
    .map {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: calc( 50% - 400px );
        left: calc( 50% - 400px );
        width: 800px;
        height: 800px;
        object-fit: contain;
        object-position: center;
        opacity: .5;
      }
      .mapList {
        position: relative;
        width: 100%;
        height: 100%;
        > div {
          position: absolute;
          top: calc( 50% - 400px );
          left: calc( 50% - 400px );
          width: 800px;
          height: 800px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 800px;
            height: 800px;
            object-fit: contain;
            object-position: center;
            opacity: 0;
          }
          &.active {
            img {
              &:first-child {
                opacity: 1;
              }
            }
          }
          &.chosen {
            img {
              &:last-child {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .infoArea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .info {
        position: absolute;
        display: none;
        flex-direction: row-reverse;
        align-items: center;
        gap: 8px;
        width: 80px;
        height: 15px;
        line-height: 15px;
        &:before {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 5px;
          background-color: #aaa;
        }
        &:after {
          content: '';
          position: absolute;
          top: 7px;
          left: 80px;
          height: 1px;
          background-color: #aaa;
        }
        .head {
          display: flex;
          flex-direction: row;
          font-size: 12px;
          gap: 4px;
          color: #aaa;
          &:hover {
            cursor: pointer;
          }
        }
        &.active {
          display: flex;
        }
        &.chosen {
          &:before {
            background-color: #111;
          }
          &:after {
            background-color: #111;
          }
          .head {
            color: #111;
          }
        }
        &.right {
          flex-direction: row;
          &::after {
            right: 80px;
            left: auto
          }
        }
        &.tp {
          top: 200px;
          right: 80px;
          &::after {
            width: 110px;
          }
        }
        &.ty {
          top: 200px;
          left: 200px;
          &::after {
            width: 240px;
          }
        }
        &.hc {
          top: 240px;
          left: 200px;
          &::after {
            width: 220px;
          }
        }
        &.tc {
          top: 320px;
          left: 200px;
          &::after {
            width: 130px;
          }
        }
        &.tn {
          top: 540px;
          right: 80px;
          &::after {
            width: 330px;
          }
        }
        &.ks {
          top: 580px;
          right: 80px;
          &::after {
            width: 330px;
          }
        }
        &.ot {
          top: 660px;
          left: 100px;
          &::after {
            width: 80px;
          }
        }
        &.ot2 {
          top: 735px;
          left: 100px;
          &::after {
            width: 140px;
          }
        }
      }
    }
  }
}

.indexNews {
  position: relative;
  width: 100%;
  height: 300vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/index_news_bg.png');
    background-size: cover;
    background-position: center;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 24px;
    }
  }
  .head {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h2 {
      font-size: 32px;
      color: #46AC82;
    }
  }
  &__cardArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding: 0 80px;
    &__card {
      position: relative;
      margin-left: -32px;
      > img {
        width: 100%;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 40px 48px;
        font-size: 32px;
        color: white;
        .date {
          font-size: 12px;
        }
        .title {
          font-size: 16px;
        }
        .subtitle {
          font-size: 12px;
          color: #f5edaf;
        }
        .detail {
          padding: 8px 0;
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
        > img {
          height: 128px;
          border-radius: 8px;
          overflow: hidden;
        }
      }
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 8px 8px 8px 24px;
    border-radius: 48px;
    background-color: white;
    .text {
      font-size: 16px;
      line-height: 16px;
      color: #1a818a;
    }
    img {
      width: 36px;
    }
  }
}

.indexRecruit {
  width: 100%;
  height: 300vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/index_recruit_bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
      width: 100%;
      max-width: 1366px;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    h1 {
      font-size: 96px;
      font-weight: 700;
      line-height: 100px;
      color: #f5edaf;
    }
    h2 {
      font-size: 24px;
      line-height: 24px;
      color: #f5edaf;
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 8px 8px 8px 24px;
    border-radius: 48px;
    background-color: white;
    .text {
      font-size: 16px;
      line-height: 16px;
      color: #1a818a;
    }
    img {
      width: 36px;
    }
  }
  p {
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: center;
  }
}