.recruitBanner {
  position: relative;
  width: 100%;
  height: 800vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/recruit_banner_bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      height: 100vh;
    }
  }
  .head {
    display: flex;
    flex-direction: column;
    gap: 16px;
    white-space: nowrap;
    background-image: url('../images/about_faith_text_bg.jpg');
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: -8px;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 24px;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #1a818a;
  }
  .featureList {
    overflow: visible;
    width: 680px;
    height: 56px;
    .feature {
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 80px;
      color: #1a818a;
      opacity: .25;
      &.active {
        opacity: 1;
      }
      .title {
        font-size: 24px;
        line-height: 24px;
      }
      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
}

.recruitCulture {
  position: relative;
  width: 100%;
  height: 500vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/recruit_culture_bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    .wrapper {
      display: flex;
      flex-direction: row;
      gap: 80px;
    }
  }
  .picArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      border-radius: 24px;
      width: 50px;
      top: calc( 50% - 25px );
      left: calc( 50% - 25px );
      opacity: 0;
      &.active {
        opacity: 1;
      }
      &:first-child.active {
        top: 80px;
        left: 360px;
        width: 240px;
      }
      &:nth-child(2).active {
        top: 320px;
        left: 100px;
        width: 220px;
      }
      &:nth-child(3).active {
        top: 120px;
        left: calc( 100% - 120px - 200px );
        width: 200px;
      }
      &:nth-child(4).active {
        top: 420px;
        left: calc( 100% - 200px - 200px );
        width: 260px;
      }
      &:nth-child(5).active {
        top: calc( 100% - 40px - 200px );
        left: 480px;
        width: 240px;
      }
    }
  }
  .head {
    font-size: 24px;
    line-height: 34px;
    color: #46ac82;
  }
  .detail {
    color: #46ac82;
    p {
      font-size: 14px;
      line-height: 28px;
    }
  }
}

.recruitPhotoWall {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 0;
  background-color: #46ac82;
  overflow: hidden;
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    .head {
      font-size: 24px;
      line-height: 34px;
      color: #f5edaf;
    }
    .picSlide {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      &__item {
        display: inline-block;
        margin: 0 16px;
        img {
          width: 360px;
          border-radius: 16px;
        }
      }
    }
  }
}

.recruitWelfare {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px 160px;
  background-color: #f5edaf;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
  }
  .head {
    font-size: 24px;
    color: #46ac82
  }
  .welfareList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: calc( 20% - (24px * 4)/5 );
      &:nth-child(5n) {
        img {
          border-right: 0;
        }
      }
      img {
        width: 100%;
        padding: 0 48px;
        mix-blend-mode: multiply;
        border-right: #000 1px solid;
      }
      h3 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}

.recruitVacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px;
  background-image: url('../images/recruit_vacancies_bg.jpg');
  background-size: cover;
  background-position: center;
  .section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding-top: 48px;
    border-top: #000 1px solid;
    .head {
      width: 640px;
      font-size: 24px;
      color: #46ac82;
    }
    .vacanciesList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      li {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: calc( 100%/3 - (24px * 2)/3);
        padding: 64px 48px;
        background-color: #f5edaf;
        mask-image: url('../images/card_shape_s.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        > img {
          width: 100%;
          mix-blend-mode: multiply;
        }
        .button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          padding: 8px 8px 8px 24px;
          margin-bottom: 16px;
          border-radius: 48px;
          background-color: white;
          cursor: pointer;
          .text {
            font-size: 16px;
            line-height: 16px;
            color: #1a818a;
          }
          img {
            width: 36px;
          }
        }
      }
    }
  }
}

.recruitFlow {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 80px;
  background-color: #46ac82;
  color: white;
  .head {
    width: 400px;
    white-space: nowrap;
    font-size: 24px;
    line-height: 34px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    gap: 80px;
    p {
      font-size: 14px;
      line-height: 26px;
    }
    .timeline {
      display: flex;
      flex-direction: row;
      li {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        .step {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          width: 64px;
          height: 64px;
          background-color: white;  
          border-radius: 50%;
          img {
            width: 32px;
          }
        
          span {
            font-size: 12px;
            color: #46ac82;
            &.number {
              font-size: 24px;
            }
          }
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 64px;
          left: calc(50% - 3px);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: white;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 66.5px;
          width: 100%;
          height: 1px;
          background-color: white;
        }
        &:last-child::after {
          left: 0;
          width: 50%;
        }
        &:first-child::after {
          right: 0;
          width: 50%;
        }
        .context {
          text-align: center;
          font-size: 14px;
          line-height: 20px;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.recruitJoin {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1a818a;
  .bgFlow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .orb {
      position: absolute;
      transform: translate(0, 0);
      pointer-events: none;
      will-change: transform;
      &_b {
        width: 400px;
        height: 400px;
        top: calc( 50% - 200px );
        left: calc( 50% - 200px );
      }
      &_m {
        width: 250px;
        height: 250px;
        top: calc( 50% - 125px );
        left: calc( 50% - 125px );
      }
      &_s {
        width: 100px;
        height: 100px;
        top: calc( 50% - 50px );
        left: calc( 50% - 50px );
      }
    }
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;
  }
  .head {
    font-size: 100px;
    color: #f5edaf;
  }
  .subtitle {
    font-size: 32px;
    color: white;
    margin-bottom: 48px;
  }
  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 8px 8px 8px 24px;
    border-radius: 48px;
    background-color: white;
    cursor: pointer;
    .text {
      font-size: 16px;
      line-height: 16px;
      color: #1a818a;
    }
    img {
      width: 36px;
    }
  }
}

@media screen and (max-width: 767px) {
  .recruitBanner {
    &__stickyArea {
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        height: auto;
        padding: 80px 24px;
      }
    }
    .line {
      display: none;
    }
    .featureList {
      overflow: visible;
      width: 100%;
      height: auto;
      transform: translateY(0) !important;
      .feature {
        text-align: center;
        .title {
          font-size: 16px;
          line-height: 16px;
        }
        p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .recruitCulture {
    height: auto;
    &__stickyArea {
      position: static;
      height: auto;
      padding: 80px 24px;
      gap: 24px;
      .wrapper {
        flex-direction: column;
        gap: 24px;
      }
    }
    .picArea {
      position: static;
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      height: auto;
      img {
        position: static;
        border-radius: 16px;
        width: 100% !important;
        opacity: 1;
      }
    }
    .detail {
      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .recruitPhotoWall {
    gap: 48px;
    padding: 48px 24px;
    .section {
      gap: 24px;
      .head {
        font-size: 24px;
        line-height: 34px;
        color: #f5edaf;
      }
      .picSlide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &__item {
          margin: 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .recruitWelfare {
    gap: 48px;
    padding: 48px 24px;
    .wrapper {
      gap: 24px;
    }
    .welfareList {
      gap: 24px 0;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: 50%;
        &:nth-child(5n) {
          img {
            border-right: #000 1px solid;
          }
        }
        &:nth-child(2n) {
          img {
            border-right: 0;
          }
        }
      }
    }
  }

  .recruitVacancies {
    gap: 16px;
    padding: 48px 24px;
    .section {
      flex-direction: column;
      align-items: center;
      gap: 36px;
      .head {
        width: 100%;
      }
      .vacanciesList {
        gap: 16px;
        li {
          align-items: center;
          width:  calc( 100%/2 - (16px)/2);
          padding: 32px 8px;
          > img {
            width: 100px;
          }
          .button {
            padding: 8px 4px 8px 16px;
            img {
              width: 16px;
            }
          }
        }
      }
    }
  }

  .recruitFlow {
    flex-direction: column;
    gap: 48px;
    padding: 48px 24px;
    .detail {
      p {
        font-size: 12px;
        line-height: 24px;
      }
      .timeline {
        display: flex;
        flex-direction: column;
        li {
          flex-direction: row;
          .step {
            width: 40px;
            height: 40px;
            margin: 12px;
            gap: 0px;
            span {
              &.number {
                font-size: 14px;
              }
            }
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 29px;
            left: 80px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: white;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 83px;
            width: 1px;
            height: 100%;
            background-color: white;
          }
          &:last-child::after {
            left: 83px;
            top: 0;
            width: 1px;
            height: 50%;
          }
          &:first-child::after {
            right: 0;
            width: 1px;
            height: 50%;
          }
          .context {
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .recruitJoin {
    .cover {
      padding: 24px;
    }
    .head {
      font-size: 48px;
    }
    .subtitle {
      font-size: 14px;
    }
    .button {
      .text {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}