
.serviceSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 80px;
  background-image: url('../images/service_system_bg.png');
  background-size: 100% 100%;
  background-position: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
  }
  .head {
    h2 {
      font-size: 32px;
      color: white;
      span {
        font-style: italic;
      }
    }
  }
  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    .image {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: white;
      .title {
        font-size: 24px;
        color: #f5edaf;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          display: flex;
          flex-direction: row;
          gap: 24px;
          .tag {
            width: 80px;
            font-size: 20px;
            line-height: 20px;
          }
          .context {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h3 {
              font-size: 20px;
              line-height: 20px;
            }
            p {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.serviceCircle {
  width: 100%;
  height: 1000vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
    padding: 160px 80px;
    background-image: url('../images/service_circle_bg.png');
    background-size: cover;
    background-position: center;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 160px;
      width: 100%;
      max-width: 1200px;
      padding-top: 160px;
      .head {
        font-size: 24px;
        color: #f5edaf;
        white-space: nowrap;
      }
      .detail {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;
        > .text {
          font-size: 14px;
          line-height: 24px;
          color: white;
        }
      }
      .cardArea {
        position: relative;
        width: 100%;
        &__card {
          position: relative;
          transform: translateY(50vh);
          opacity: 0;
          &.active {
            transform: translateY(0);
            opacity: 1;
          }
          > img {
            width: 100%;
          }
          > .text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 32px 48px 48px;
            .title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
            .context {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-end;
              gap: 24px;
              font-size: 14px;
              line-height: 24px;
              img {
                width: 160px;
                height: 160px;
                padding: 16px;
                border-radius: 16px;
                background-color: white;
                object-fit: cover;
                object-position: center;
              }
            }
          }
          &:first-child {
            margin-bottom: 260px;
          }
          &:nth-child(2) {
            position: absolute;
            top: 65px;
          }
          &:nth-child(3) {
            position: absolute;
            top: 130px;
          }
          &:nth-child(4) {
            position: absolute;
            top: 195px;
          }
        }
      }
    }
  }
}

.serviceFlow {
  width: 100%;
  height: 1000vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
    padding: 0 80px;
    background-image: url('../images/service_flow_bg.png');
    background-size: cover;
    background-position: center;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 160px;
      width: 100%;
      max-width: 1200px;
      padding: 160px 0 80px;
      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc( 100% - 496px - 160px );
        height: 100%;
        color: white;
        .head {
          display: flex;
          flex-direction: column;
          gap: 16px;
          h2 {
            font-size: 24px;
            color: #f5edaf;
          }
          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
        .featureArea {
          position: relative;
          .feature {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
            opacity: 0;
            .title {
              font-size: 16px;
            }
            p {
              font-size: 14px;
              line-height: 24px;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .image {
        position: relative;
        background-size: 400px 400px;
        background-position: center calc( 50% + 20px );
        background-repeat: no-repeat;
        width: 496px;
        height: 496px;
        &.smallBg {
          background-image: url('../images/service_flow_image_bg.png');
          background-size: 100px 100px;
        }
        .firstPart, .secondPart {
          position: absolute;
          top: 0;
          right: 0;
          width: 496px;
          height: 496px;
          opacity: 0;
          &.active {
            opacity: 1;
          }
        }
        .imageArea {
          position: relative;
          padding: 48px;
          border-radius: 24px;
          background-color: rgba(255,255,255,.25);
          img {
            position: absolute;
            top: 48px;
            left: 48px;
            width: 400px;
            height: 400px;
            &:first-child {
              position: static;
              width: 400px;
            }
            opacity: 0;
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.serviceContact {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #46AC82;
  .bgFlow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .orb {
      position: absolute;
      transform: translate(0, 0);
      pointer-events: none;
      will-change: transform;
      &_b {
        width: 400px;
        height: 400px;
        top: calc( 50% - 200px );
        left: calc( 50% - 200px );
      }
      &_m {
        width: 250px;
        height: 250px;
        top: calc( 50% - 125px );
        left: calc( 50% - 125px );
      }
      &_s {
        width: 100px;
        height: 100px;
        top: calc( 50% - 50px );
        left: calc( 50% - 50px );
      }
    }
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .head {
    font-size: 100px;
    color: #f5edaf;
  }
  .subtitle {
    font-size: 32px;
    color: white;
    margin-bottom: 48px;
  }
  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 8px 8px 8px 24px;
    border-radius: 48px;
    background-color: white;
    cursor: pointer;
    .text {
      font-size: 16px;
      line-height: 16px;
      color: #1a818a;
    }
    img {
      width: 36px;
    }
  }
}

@media screen and (max-width: 767px) {
  .serviceSystem {
    padding: 80px 24px;
    .wrapper {
      gap: 48px;
    }
    .head {
      h2 {
        font-size: 24px;
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      gap: 48px;
      .text {
        p {
          font-size: 12px;
        }
        ul {
          li {
            .tag {
              width: 60px;
              font-size: 16px;
              line-height: 20px;
            }
            .context {
              width: calc( 100% - 84px );
              h3 {
                font-size: 16px;
              }
              p {
                font-size: 12px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }

  .serviceCircle {
    &__stickyArea {
      padding: 80px 24px;
      .wrapper {
        flex-direction: column;
        gap: 40px;
        padding-top: 0;
        .head {
          font-size: 24px;
        }
        .detail {
          width: 100%;
          > .text {
            font-size: 12px;
            line-height: 20px;
          }
        }
        .cardArea {
          &__card {
            > .text {
              padding: 16px;
              .title {
                font-size: 14px;
              }
              .context {
                gap: 16px;
                font-size: 12px;
                line-height: 20px;
                img {
                  width: 80px;
                  height: 80px;
                  padding: 8px;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  .serviceFlow {
    &__stickyArea {
      gap: 24px;
      padding: 0 24px;
      .wrapper {
        flex-direction: column;
        gap: 24px;
        padding: 0;
        .info {
          width: 100%;
          height: auto;
          .head {
            p {
              font-size: 12px;
              line-height: 20px;
            }
          }
          .featureArea {
            position: relative;
            height: 80px;
            .feature {
              p {
                font-size: 12px;
                line-height: 20px;
              }
            }
          }
        }
        .image {
          background-size: 300px 300px;
          width: 348px;
          height: 348px;
          &.smallBg {
            background-size: 75px 75px;
          }
          .firstPart, .secondPart {
            width: 348px;
            height: 348px;
          }
          .imageArea {
            padding: 24px;
            border-radius: 24px;
            img {
              top: 24px;
              left: 24px;
              width: 300px;
              height: 300px;
              &:first-child {
                width: 300px;
              }
            }
          }
        }
      }
    }
  }

  .serviceContact {
    .cover {
      padding: 24px;
    }
    .head {
      font-size: 48px;
    }
    .subtitle {
      font-size: 14px;
    }
    .button {
      .text {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

}