
.serviceSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 160px 80px;
  background-image: url('../images/service_system_bg.png');
  background-size: 100% 100%;
  background-position: center;
  .head {
    h2 {
      font-size: 32px;
      color: white;
      span {
        font-style: italic;
      }
    }
  }
  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    .image {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 32px;
      color: white;
      .title {
        font-size: 24px;
        color: #f5edaf;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          display: flex;
          flex-direction: row;
          gap: 24px;
          .tag {
            width: 80px;
            font-size: 20px;
            line-height: 20px;
          }
          .context {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h3 {
              font-size: 20px;
              line-height: 20px;
            }
            p {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.serviceCircle {
  width: 100%;
  height: 500vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
    padding: 160px 80px;
    background-image: url('../images/service_circle_bg.png');
    background-size: cover;
    background-position: center;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 160px;
      width: 100%;
      padding-top: 160px;
      .head {
        font-size: 24px;
        color: #f5edaf;
        white-space: nowrap;
      }
      .detail {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;
        > .text {
          font-size: 14px;
          line-height: 24px;
          color: white;
        }
      }
      .cardArea {
        position: relative;
        width: 100%;
        &__card {
          position: relative;
          > img {
            width: 100%;
          }
          > .text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 32px 48px 48px;
            .title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
            .context {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 24px;
              font-size: 14px;
              line-height: 24px;
            }
          }
          &:first-child {
            margin-bottom: 260px;
          }
          &:nth-child(2) {
            position: absolute;
            top: 65px;
          }
          &:nth-child(3) {
            position: absolute;
            top: 130px;
          }
          &:nth-child(4) {
            position: absolute;
            top: 195px;
          }
        }
      }
    }
  }
}

.serviceFlow {
  width: 100%;
  height: 500vh;
  &__stickyArea {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 80px;
    padding: 0 80px;
    background-image: url('../images/service_flow_bg.png');
    background-size: cover;
    background-position: center;
    .wrapper {
      display: flex;
      flex-direction: row;
      gap: 160px;
      height: 100%;
      padding: 160px 0 80px;
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        .head {
          display: flex;
          flex-direction: column;
          gap: 16px;
          h2 {
            font-size: 24px;
            color: #f5edaf;
          }
          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
        .featureArea {
          position: relative;
          .feature {
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
            opacity: 0;
            .title {
              font-size: 16px;
            }
            p {
              font-size: 14px;
              line-height: 24px;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .image {
        flex: 1;
        .firstPart, .secondPart {
          width: 100%;
          display: none;
          &.active {
            display: block;
          }
        }
        .imageArea {
          position: relative;
          width: 100%;
          padding: 48px;
          border-radius: 24px;
          background-color: rgba(255,255,255,.25);
          img {
            position: absolute;
            top: 0;
            left: 0;
            &:first-child {
              position: static;
            }
            width: 100%;
            opacity: 0;
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.serviceContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100vh;
  background-image: url('../images/service_contact_bg.png');
  background-size: cover;
  background-position: center;
  .head {
    font-size: 100px;
    color: #f5edaf;
  }
  .subtitle {
    font-size: 32px;
    color: white;
    margin-bottom: 48px;
  }
  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 8px 8px 8px 24px;
    border-radius: 48px;
    background-color: white;
    cursor: pointer;
    .text {
      font-size: 16px;
      line-height: 16px;
      color: #1a818a;
    }
    img {
      width: 36px;
    }
  }
}