.storyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 160px 160px 80px;
  background-image: url('../images/story_bg.png');
  background-size: cover;
  background-position: center;
  .head {
    color: white;
    h1 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 16px;
      span {
        font-size: 32px;
        &.small {
          font-size: 20px;
        }
        &.italic {
          font-style: italic;
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    li {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: -34px;
      cursor: pointer;
      .title {
        display: flex;
        flex-direction: row;
        height: 34px;
        h3 {
          position: relative;
          height: 68px;
          color: white;
          font-size: 18px;
          line-height: 44px;
          padding: 0 16px;
          margin: 0 33px 0 13px;
          white-space: nowrap;
          background-image: url('../images/story_title_bg_2.png');
          background-size: 100% auto;
          background-repeat: no-repeat;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -13px;
            width: 13px;
            height: 34px;
            background-image: url('../images/story_title_bg_1.png');
            background-size: cover;
          background-repeat: no-repeat;
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -33px;
            width: 33px;
            height: 34px;
            background-image: url('../images/story_title_bg_3.png');
            background-size: cover;
          background-repeat: no-repeat;
          }
        }
        &:after {
          content: '';
          width: 100%;
          height: 34px;
          background-image: url('../images/story_title_bg_4.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .detail {
        display: flex;
        flex-direction: row;
        gap: 48px;
        .logo {
          img {
            width: 200px;
            height: 40px;
            object-fit: contain;
            object-position: center;
          }
        }
        p {
          width: calc( 100% - 600px - 96px );
          font-size: 12px;
          line-height: 24px;
          color: white;
        }
        img {
          width: 400px;
          height: 160px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.storyTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 34px;
  h3 {
    position: relative;
    height: 68px;
    color: white;
    font-size: 18px;
    line-height: 44px;
    padding: 0 16px;
    margin: 0 33px 0 13px;
    white-space: nowrap;
    background-image: url('../images/story_title_bg_2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -13px;
      width: 13px;
      height: 34px;
      background-image: url('../images/story_title_bg_1.png');
      background-size: cover;
    background-repeat: no-repeat;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -33px;
      width: 33px;
      height: 34px;
      background-image: url('../images/story_title_bg_3.png');
      background-size: cover;
    background-repeat: no-repeat;
    }
  }
  &:after {
    content: '';
    width: 100%;
    height: 34px;
    background-image: url('../images/story_title_bg_4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}