.editArea {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100vw;
  overflow: hidden;
  
  .mainInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
    margin: 0 calc( 50% - 600px );
    overflow: hidden;
    > .image {
      width: calc( 50% - 40px );
    }
    .detail {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: calc( 50% - 40px );
      color: white;
      .title {
        font-size: 24px;
      }
      .text{
        p {
          font-size: 12px;
          line-height: 28px;
        }
      }
    }
    .logo {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 160px;
    }
  }

  .pic_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    width: calc( 100% - (50% - 600px));
    overflow: hidden;
    .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 280px;
      color: white;
      .head {
        margin-bottom: 24px;
        font-size: 24px;;
      }
      .title {
        font-size: 18px;
      }
      p {
        font-size: 12px;
        line-height: 24px;
      }
    }
    .imgSlide {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 32px;
      width: calc( 100% - 280px - 80px );
      overflow: hidden;
      &__item {
        width: calc((100% - 280px - 32px - 80px - (50% - 600px) )/2);
        img {
          width: 100%;
          border-radius: 16px;
          overflow: hidden;
        }
      }
    }
    &.picFirst {
      margin-left: calc( 50% - 600px );
    }
    &.textFirst {
      flex-direction: row-reverse;
      margin-right: calc( 50% - 600px );
      .imgSlide {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        overflow: visible;
      }
    }
  }

  .media {
    width: 100%;
    max-width: 1200px;
    margin: 0 calc( 50% - 600px );
    img {
      width: 100%;
    }
  }

  .resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
    margin: 0 calc( 50% - 600px );
    .head {
      font-size: 24px;
    }
    &List {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-left: white 1px dashed;
      li {
        flex: 1;
        padding: 24px 48px;
        border-right: white 1px dashed;
        p {
          color: white;
          line-height: 24px;
          text-align: center;
          span {
            color: #f5edaf;
            &.focus {
              font-size: 24px;
              font-weight: bold;
            }
            &.suffix {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.sloganBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  padding: 0 160px;
  background-image: url('../images/storyInside_slogan.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  h1 {
    font-size: 24px;
    color: white;
  }
  h2 {
    font-size: 14px;
    color: white;
  }
}